html, body {
    height: 100vh;
}

body
{ 
    margin: 0;
    padding: 0;
    background-color: palevioletred !important;
    background-size: cover;
    background-position: center center;
    background-blend-mode: color;   
}

.error-message {
    color: palevioletred;
}

.login {
    display: flex;
    background-color: navy;
    min-height: 100vh;
    justify-content: space-evenly;
}

.login-left {
    text-align: center;
    max-width: 50%;
}

.login-left h2 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
    color: palevioletred;
}

.login-logo {
    width: 50%;
}

.login-form {
    text-align: center;
}

.login-header {
    margin: 20px;
}

.login-header h2 {
    color: palevioletred;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
}

.login-username {
    margin: 15px;
}

.login-username input{
    border-radius: 8px;
}

.login-username input::placeholder{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
    text-align: center;
}

.login-password {
    margin: 15px;
}

.login-password input{
    border-radius: 8px;
}

.login-head {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

.login-head h1 {
    font-size: 300%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
    color: navy;
    font-style: italic;
}

.login-head h2 {
    font-size: 300%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
    color: navy;
    font-style: italic;
}

.login-password input::placeholder{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
    text-align: center;
}

.login-form p {
    text-decoration-color: palevioletred;
    color: palevioletred;
    text-decoration: underline;
}

.login-form form{
    display: flex;
    flex-direction: column;
}

.login-button h3{
    color: navy;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
}

.login-button:hover{
    background-color: white;
}

.button-container {
    text-align: center;
}

.login-button{
    background-color: palevioletred;
    padding: 5px 10px 0px 10px;
    border-radius: 15px;
    width: fit-content;
    margin-left: 110px;
}

.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .login-left {
        display: none;
    }
} 