.navbar-emp {
    display: flex;
    justify-content: space-between;
    background: navy;
    padding: 20px;
}

.nav-emp-menu {
    display: flex;
}

#nav-emp-items-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-emp-items {
    margin: 20px;
}

#nav-emp-left {
    max-width: 150px;
}

.nav-emp-items h3 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: palevioletred;
    font-variant: small-caps;
    margin: 0;
}

.nav-emp-items h3:hover{
    color: white;
}

.nav-emp-button h3{
    color: navy;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
}

.nav-emp-button:hover{
    background-color: white;
}

.nav-emp-button{
    background-color: palevioletred;
    padding: 5px 10px 0px 10px;
    border-radius: 15px;
}

.icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar-emp {
        display: block;
    }

    .icon {
        display: block;
        background: transparent;
        border: none;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .icon div {
      width: 35px;
      height: 5px;
      background-color: palevioletred;
      margin: 6px 0;
    }

    #nav-emp-items-group {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%
    }
} 