.navbar-emp {
    display: grid;
    grid-template-columns: 3fr 3fr;
    background: navy;
}

.nav-emp-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
}

.nav-emp-logo {
    width: 20%;
    justify-content: center;
    margin: 10px 50px 10px 100px;
}

.nav-emp-items {
    margin: 10px 10px 10px 10px;
}

.nav-emp-items h3 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: palevioletred;
    font-variant: small-caps;
}

.nav-emp-items h3:hover{
    color: white;
}

.nav-emp-button h3{
    color: navy;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
}

.nav-emp-button:hover{
    background-color: white;
}

.nav-emp-button{
    background-color: palevioletred;
    padding: 5px 10px 0px 10px;
    border-radius: 15px;
}
